<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetappliactioncoter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cacul R"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetAppliactionCoteR">

        <activity
            android:name=".LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".CreationProfilActivity"
            android:exported="false" />
        <activity
            android:name=".UniversiteActivity"
            android:exported="false" />
        <activity
            android:name=".AcceuilleActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".CoteRActivity"
            android:exported="false" />
        <activity
            android:name=".EnregistrementActivity"
            android:exported="false" />
    </application>

</manifest>